# Exclude all files/directories except the ones I want
/*

# .gitignore
!.gitignore

# Readme
!README.md

# CMakelists
!CMakeLists.txt

# Minimum needs list
!MINIMUM_NEEDS

# include
!/include/
/include/*
!/include/amino.h
!/include/amino/
/include/amino/*
!/include/amino/debug.h
!/include/amino/endconv.h
!/include/amino/math.h
!/include/amino/mem.h
!/include/amino/time.h
!/include/amino/validate.h

# src
!/src/
/src/*
!/src/debug.c
!/src/la.c
!/src/math.c
!/src/mem.c
!/src/time.c
!/src/validate.c
